.Page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.Content {
  margin: 0 2.5rem;
}

.Menu {
  width: 100vw;
  padding: 0 2.5rem;
  position: absolute;
  top: 0;
}

.Card {
  padding: 2rem;
  border: 1px solid #cecece;
  height: 4rem;
  width: 100%;
  border-radius: 8px;
}

.Row {
  margin-bottom: 2rem;
}

.Error {
  padding: .75rem 1rem;
  background-color: #f9d4d4;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;

  color: #771919;
  font-weight: 400;
}

.FlexRow {
  display: flex;
  flex-direction: row;
  gap: 0.25rem
}